/**
* Featherlight – ultra slim jQuery lightbox
* Version 0.1.11 – https://github.com/noelboss/featherlight
*
* Copyright 2013, Noel Bossart
* MIT Licensed.
*/

@media all {

	.lightbox { display: none; }
	
}