/* product listing css */
.iso-container-products #wrapper {
    height:179px;
    width: 155px;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #fff !important;
 }
 
.iso-container-products #wrapper tr {
   background-color: #fff !important;
}

.iso-container-products #wrapper td {
   vertical-align: middle;
   text-align: center;
   border: 0;
}

.iso-container-products #wrapper img 
{
    max-width: none;
}
/*.iso-container-products .single {
margin: 14px 2.6% 7px 0 !important;
width:22.4%;
}*/
.iso-container-product{

.padding: 0.4em 0 1em 2.5%;
}
#image-category{
    position:relative;
}

.hover-item-con{
    position:absolute;
    line-height: 18px;
    /*background:#FF783A;*/
}
.hover-item-con .hover-menu{
    background:#FF783A;
    white-space: nowrap;
    position:absolute;
    left:0px;
    top:0;
    line-height: 18px;
    text-align: center;
}
.hover-item-con .hover-title{
    color:#4C8DBC;
}
.back-overlay{
    /*background: none repeat scroll 0 0 rgba(0, 0, 0, 0.55);*/
    height: 100%;
    position: absolute;
    width: 100%;
}
.d-block {
    display: block;
}
.hover-item-con {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: 7%;
    position: absolute;
    width: 2.8%;
    z-index: 103;
    border-radius: 3px;
}
.hover-item-con:hover .arrow{
    color:white;
}
.hover-item-con .arrow{
    font-size: 20px;
    font-weight: bold !important;
    padding: 10%;
}
.hover-item-con .arrow.bottom_top{
    padding-left: 20%;
}
.hover-item-con:hover{
    background:#C72E4B !important;
   -webkit-border-radius: 0px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px ;
    -moz-border-radius: 0px !important;
    -moz-border-radius-topleft: 4px ;
    -moz-border-radius-bottomleft: 4px ;
    border-radius: 0px;
    border-top-left-radius: 4px ;
    border-bottom-left-radius: 4px ;
}
.hover-item-con.to-right:hover{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.hover-item-con .hover-title{
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    top: 0;
    height: 100%;display:none;
    white-space:nowrap;background:#C72E4B;position:absolute;padding:2px 10px;left:100%;color:white !important;
}

.hover-item-con.to-right .hover-title{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    left:auto;
    right:100%;
}


.hover-handle{
    height: 100%;
    width:100%;
    background:#C72E4B;
}

#hover6 {
    left: 24.9%;
    top: 1.6%;
}
#hover1 {
    left: 5.9%;
    top: 9.5%;
}
#hover2{
    left: 9.8%;
    top: 18.6%;
}

#hover4 {
    left: 40%;
    top: 87%;
}
#hover5{
     left: 43%;
    top: 1%;
   }

#hover3 {
    left: 11.8%;
    top: 66.8%;
}

#hover14 {
    left: 250px;
    top: 190px;
}

#hover7 {
    left: 39.8%;
    top: 35%;
}
#hover8 {
     left: 56.6%;
    top: 79.3%;
}

#hover9 {
    left: 57%;
    top: 0.8%;
}
#hover10{
    right: 64%;
    top: 72.8%;
}
#hover11 {
    right: 24.8%;
    top: 89.7%;
}


#hover12 {
    right: 10.6%;
    top: 1%;
}
#hover13 {
    right: 24.6%;
    top: 0.5%;
}

div.item-line{
    position:absolute;
    /*background:transparent;*/
    cursor:pointer;
    z-index:9;
}

.backOpqM{
    background-color: #494949;
    opacity: 0;
}

.red-line-0{
    height: 4%;
    left: 5.9;
    position: absolute;
    top: 9.5%;
    width: 150px;
}
  .red-line-1{
    height: 6%;
    left: 0;
    top: 25%;
    width: 14%;
}
  .red-line-2{
     height: 26%;
    left: 14%;
    top: 14%;
    width: 3%
}
  .red-line-3{
    height: 7%;
    left: 17%;
    top: 10%;
    width: 61%;
}
  .red-line-4{
    height: 26%;
    left: 4%;
    top: 14%;
    width: 2%;
}
  .red-line-5{
    height: 27%;
    left: 84%;
    top: 13%;
    width: 2%;

}
.red-line-6 {
    height: 13%;
    left: 204px;
    position: absolute;
    top: 35%;
    width: 57%;
    z-index: 9!important;
}
  .red-line-7{
     height: 6%;
    left: 87%;
    top: 24%;
    width: 15%;

}
  .red-line-8{
     height: 28%;
    left: 94%;
    top: 14%;
    width: 2%;

}
  .red-line-9{
    height: 7%;
    left: 73%;
    position: absolute;
    top: 6%;
    width: 14%;
}

.blue-line-0 {
    height: 29%;
    position: absolute;
    width: 4%;
    left: 250px;
    top: 190px;
}

  .blue-line-1 {
    height: 29%;
    left: 14%;
    position: absolute;
    top: 40%;
    width: 4%;
}

  .blue-line-2 {
    height: 17%;
    left: 19%;
    top: 38%;
    width: 30%;
}

  .blue-line-3 {
    height: 17%;
    left: 52%;
    top: 38%;
    width: 30%;
}

  .blue-line-4 {
    height: 29%;
    left: 84%;
    position: absolute;
    top: 40%;
    width: 4%;
}
  .blue-line-5 {
    height: 4%;
    left: 18%;
    position: absolute;
    top: 63%;
    width: 7%;
}
  .blue-line-6 {
     height: 6%;
    left: 78%;
    top: 62%;
    width: 7%;
}
  .blue-line-7 {
   height: 6%;
    left: 39%;
    position: absolute;
    top: 63%;
    width: 29%;
}
  .blue-line-8 {
    height: 33%;
    left: 39%;
    position: absolute;
    top: 63%;
    width: 2%;
}
  .blue-line-9 {
    height: 33%;
    left: 21%;
    top: 64%;
    width: 3%;
}
  .blue-line-10 {
   height: 7%;
    left: 23%;
    top: 92%;
    width: 17%;
}
.hide{
    display:none;
}
.show{
    display:auto;
}